.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.comfy-editable-text {
  border-style: none;
}

.comfy-editable-text > button {
  visibility: collapse;
  position:absolute;
}

.comfy-editable-text:hover > button {
  visibility:visible;
}