/* add css module styles here (optional) */

.comfy-editable-text {
  border-style: none;
}

.comfy-editable-text > button {
  visibility: collapse;
  position:absolute;
}

.comfy-editable-text:hover > button {
  visibility:visible;
}